name: Workflow-onedrive-automatization

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *' 

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    env:
       ARTIFACT_FOLDER: 'artifacts'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Download artifacts
        uses: dawidd6/action-download-artifact@v6
        with:
          repo: solutionsmateus/workflow-github-action
          workflow: vm-solutions-mateus.yml
          name: "*"                 
          path: ${{ env.ARTIFACT_FOLDER }} 
          token: ${{ secrets.MEUPAT }} 

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          python -m pip install rclone-python 
          # Se tiver requirements.txt, use: python -m pip install -r requirements.txt

      - name: Configurar RClone
        uses: AnimMouse/setup-rclone@v1
        with: 
           rclone_config: ${{ secrets.RCLONE_CONFIG_BASE64 }} # Nota: use rclone_config ou rcloneconfigbase conforme a versão da action

      - name: Executar Sincronização
        shell: pwsh
        run: |
           python app.py
